Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 5.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=1970fe7f2f2e906d681100337401989603ef52c539a23691eae16014b9329c3a
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *


spark = SparkSession.builder.getOrCreate()

BookSchema = StructType([StructField("year_of_publication", IntegerType(), False),
                       StructField("author", StringType(), False),
                       StructField("name", StringType(), False),
                       StructField("rating", FloatType(), False)])

books_django = [[2020, "William S. Vincent", "Django for Beginners", 9.6], [2022, "William S. Vincent", "Django for APIs", 9.3], [2023, "William S. Vincent", "Django for Professionals", 9.9]]

books_df = spark.createDataFrame(books_django, BookSchema)

books_df.printSchema()
books_df.show()

books_df.drop(books_df.rating).show()

root
 |-- year_of_publication: integer (nullable = false)
 |-- author: string (nullable = false)
 |-- name: string (nullable = false)
 |-- rating: float (nullable = false)
+-------------------+------------------+--------------------+------+
|year_of_publication|            author|                name|rating|
+-------------------+------------------+--------------------+------+
|               2020|William S. Vincent|Django for Beginners|   9.6|
|               2022|William S. Vincent|     Django for APIs|   9.3|
|               2023|William S. Vincent|Django for Profes...|   9.9|
+-------------------+------------------+--------------------+------+
+-------------------+------------------+--------------------+
|year_of_publication|            author|                name|
+-------------------+------------------+--------------------+
|               2020|William S. Vincent|Django for Beginners|
|               2022|William S. Vincent|     Django for APIs|
|               2023|William S. Vincent|Django for Profes...|
+-------------------+------------------+--------------------+

In [4]:
books_react = [[2018, "John W. Snow", "React for Beginners", 9.3], [2022, "Erick Cartman", "React Cookbook", 8.7], [2023, "Robert Tendy", "Deep Dive in React", 9.0]]
books_react_df = spark.createDataFrame(books_react, BookSchema)
books_react_df.show()

+-------------------+-------------+-------------------+------+
|year_of_publication|       author|               name|rating|
+-------------------+-------------+-------------------+------+
|               2018| John W. Snow|React for Beginners|   9.3|
|               2022|Erick Cartman|     React Cookbook|   8.7|
|               2023| Robert Tendy| Deep Dive in React|   9.0|
+-------------------+-------------+-------------------+------+

In [5]:
new_df = books_df.union(books_react_df)
new_df.show()

+-------------------+------------------+--------------------+------+
|year_of_publication|            author|                name|rating|
+-------------------+------------------+--------------------+------+
|               2020|William S. Vincent|Django for Beginners|   9.6|
|               2022|William S. Vincent|     Django for APIs|   9.3|
|               2023|William S. Vincent|Django for Profes...|   9.9|
|               2018|      John W. Snow| React for Beginners|   9.3|
|               2022|     Erick Cartman|      React Cookbook|   8.7|
|               2023|      Robert Tendy|  Deep Dive in React|   9.0|
+-------------------+------------------+--------------------+------+

In [6]:
new_df.drop('author').show()

+-------------------+--------------------+------+
|year_of_publication|                name|rating|
+-------------------+--------------------+------+
|               2020|Django for Beginners|   9.6|
|               2022|     Django for APIs|   9.3|
|               2023|Django for Profes...|   9.9|
|               2018| React for Beginners|   9.3|
|               2022|      React Cookbook|   8.7|
|               2023|  Deep Dive in React|   9.0|
+-------------------+--------------------+------+

In [7]:
pd_df = new_df.toPandas()
pd_df['read_status'] = [False, True, True, False, True, False]
pd_df

,year_of_publication,author,name,rating,read_status
0,2020,William S. Vincent,Django for Beginners,9.6,False
1,2022,William S. Vincent,Django for APIs,9.3,True
2,2023,William S. Vincent,Django for Professionals,9.9,True
3,2018,John W. Snow,React for Beginners,9.3,False
4,2022,Erick Cartman,React Cookbook,8.7,True
5,2023,Robert Tendy,Deep Dive in React,9.0,False

In [8]:
pd_df.loc[len(pd_df.index)] = [2000, 'Pablo Escobar', 'How to earn million in 7 days', 3, False]

In [9]:
pd_df = pd_df.drop_duplicates(subset=['name'])
pd_df

,year_of_publication,author,name,rating,read_status
0,2020,William S. Vincent,Django for Beginners,9.6,False
1,2022,William S. Vincent,Django for APIs,9.3,True
2,2023,William S. Vincent,Django for Professionals,9.9,True
3,2018,John W. Snow,React for Beginners,9.3,False
4,2022,Erick Cartman,React Cookbook,8.7,True
5,2023,Robert Tendy,Deep Dive in React,9.0,False
6,2000,Pablo Escobar,How to earn million in 7 days,3.0,False

In [10]:
pd_df.drop([len(pd_df.index) - 1], axis='index')

,year_of_publication,author,name,rating,read_status
0,2020,William S. Vincent,Django for Beginners,9.6,False
1,2022,William S. Vincent,Django for APIs,9.3,True
2,2023,William S. Vincent,Django for Professionals,9.9,True
3,2018,John W. Snow,React for Beginners,9.3,False
4,2022,Erick Cartman,React Cookbook,8.7,True
5,2023,Robert Tendy,Deep Dive in React,9.0,False

In [14]:
import pandas as pd


titanic_df = pd.read_csv('/content/Titanic.csv')
titanic_df[:25]

,pclass,survived,Residence,name,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,Gender
0,3,0,0,"Abbing, Mr. Anthony",42,0,0,C.A. 5547,7.55,,S,,,,0
1,3,0,0,"Abbott, Master. Eugene Joseph",13,0,2,C.A. 2673,20.25,,S,,,"East Providence, RI",0
2,3,0,0,"Abbott, Mr. Rossmore Edward",16,1,1,C.A. 2673,20.25,,S,,190,"East Providence, RI",0
3,3,1,0,"Abbott, Mrs. Stanton (Rosa Hunt)",35,1,1,C.A. 2673,20.25,,S,A,,"East Providence, RI",1
4,3,1,2,"Abelseth, Miss. Karen Marie",16,0,0,348125,7.65,,S,16,,"Norway Los Angeles, CA",1
5,3,1,0,"Abelseth, Mr. Olaus Jorgensen",25,0,0,348122,7.65,F G63,S,A,,"Perkins County, SD",0
6,2,0,2,"Abelson, Mr. Samuel",30,1,0,P/PP 3381,24,,C,,,"Russia New York, NY",0
7,2,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",28,1,0,P/PP 3381,24,,C,10,,"Russia New York, NY",1
8,3,1,2,"Abrahamsson, Mr. Abraham August Johannes",20,0,0,SOTON/O2 3101284,7.925,,S,15,,"Taalintehdas, Finland Hoboken, NJ",0
9,3,1,2,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",18,0,0,2657,7.2292,,C,C,,"Greensburg, PA",1
10,3,0,2,"Adahl, Mr. Mauritz Nils Martin",30,0,0,C 7076,7.25,,S,,72,"Asarum, Sweden Brooklyn, NY",0
11,3,0,1,"Adams, Mr. John",26,0,0,341826,8.05,,S,,103,"Bournemouth, England",0
12,3,0,2,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",40,1,0,7546,9.475,,S,,,"Sweden Akeley, MN",1
13,3,1,1,"Aks, Master. Philip Frank",.8333,0,1,392091,9.35,,S,11,,"London, England Norfolk, VA",0
14,3,1,2,"Aks, Mrs. Sam (Leah Rosen)",18,0,1,392091,9.35,,S,13,,"London, England Norfolk, VA",1
15,3,1,2,"Albimona, Mr. Nassef Cassem",26,0,0,2699,18.7875,,C,15,,"Syria Fredericksburg, VA",0
16,2,0,0,"Aldworth, Mr. Charles Augustus",30,0,0,248744,13,,S,,,"Bryn Mawr, PA, USA",0
17,3,0,1,"Alexander, Mr. William",26,0,0,3474,7.8875,,S,,,"England Albion, NY",0
18,3,0,2,"Alhomaki, Mr. Ilmari Rudolf",20,0,0,SOTON/O2 3101287,7.925,,S,,,"Salo, Finland Astoria, OR",0
19,3,0,2,"Ali, Mr. Ahmed",24,0,0,SOTON/O.Q. 3101311,7.05,,S,,,,0
20,3,0,2,"Ali, Mr. William",25,0,0,SOTON/O.Q. 3101312,7.05,,S,,79,Argentina,0
21,1,1,0,"Allen, Miss. Elisabeth Walton",29,0,0,24160,211.3375,B5,S,2,,"St Louis, MO",1
22,3,0,1,"Allen, Mr. William Henry",35,0,0,373450,8.05,,S,,,"Lower Clapton, Middlesex or Erdington, Birmingham",0
23,1,1,2,"Allison, Master. Hudson Trevor",.9167,1,2,113781,151.55,C22 C26,S,11,,"Montreal, PQ / Chesterville, ON",0
24,1,0,2,"Allison, Miss. Helen Loraine",2,1,2,113781,151.55,C22 C26,S,,,"Montreal, PQ / Chesterville, ON",1

In [15]:
titanic_df['age'] = pd.to_numeric(titanic_df['age'], errors='coerce', downcast='integer')
children = titanic_df[titanic_df['age'] < 18]
len(children)

154

In [16]:
sw3 = titanic_df[(titanic_df['Gender'] == 1) & (titanic_df['pclass'] == 3) & (titanic_df['survived'] == 1)]
sw3

,pclass,survived,Residence,name,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,Gender
3,3,1,0,"Abbott, Mrs. Stanton (Rosa Hunt)",35.0,1,1,C.A. 2673,20.25,,S,A,,"East Providence, RI",1
4,3,1,2,"Abelseth, Miss. Karen Marie",16.0,0,0,348125,7.65,,S,16,,"Norway Los Angeles, CA",1
9,3,1,2,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",18.0,0,0,2657,7.2292,,C,C,,"Greensburg, PA",1
14,3,1,2,"Aks, Mrs. Sam (Leah Rosen)",18.0,0,1,392091,9.35,,S,13,,"London, England Norfolk, VA",1
28,3,1,2,"Andersen-Jensen, Miss. Carla Christine Nielsine",19.0,1,0,350046,7.8542,,S,16,,,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1210,3,1,2,"Turja, Miss. Anna Sofia",18.0,0,0,4138,9.8417,,S,15,,,1
1211,3,1,2,"Turkula, Mrs. (Hedwig)",63.0,0,0,4134,9.5875,,S,15,,,1
1263,3,1,2,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",38.0,0,0,2688,7.2292,,C,C,,,1
1279,3,1,1,"Wilkes, Mrs. James (Ellen Needs)",47.0,1,0,363272,7,,S,,,,1
1298,3,1,2,"Yasbeck, Mrs. Antoni (Selini Alexander)",15.0,1,0,2659,14.4542,,C,,,,1

In [17]:
titanic_df['fare'] = pd.to_numeric(titanic_df['fare'], errors='coerce')
americans = titanic_df[titanic_df['Residence'] == 0]
total = americans['fare'].sum()
total

16680.5

In [18]:
titanic_df.sort_values('age')[100::30]

,pclass,survived,Residence,name,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,Gender
1172,2,0,1,"Sweet, Mr. George Frederick",14.0,0,0,220845,65.0000,,S,,,"Somerset / Bernardsville, NJ",0
467,3,0,1,"Goodwin, Miss. Lillian Amy",16.0,5,2,CA 2144,46.9000,,S,,,"Wiltshire, England Niagara Falls, NY",1
344,2,1,1,"Doling, Miss. Elsie",18.0,0,1,231919,23.0000,,S,,,Southampton,1
392,3,0,2,"Fischer, Mr. Eberhard Thelander",18.0,0,0,350036,7.7958,,S,,,,0
347,3,1,1,"Dorking, Mr. Edward Arthur",19.0,0,0,A/5. 10482,8.0500,,S,B,,"England Oglesby, IL",0
566,2,0,1,"Hood, Mr. Ambrose Jr",21.0,0,0,S.O.C. 14879,73.5000,,S,,,"New Forest, England",0
446,2,0,1,"Giles, Mr. Edgar",21.0,1,0,28133,11.5000,,S,,,"Cornwall / Camden, NJ",0
265,2,1,2,"Cook, Mrs. (Selena Rogers)",22.0,0,0,W./C. 14266,10.5000,F33,S,14,,Pennsylvania,1
370,2,0,1,"Eitemiller, Mr. George Floyd",23.0,0,0,29751,13.0000,,S,,,"England / Detroit, MI",0
980,3,0,2,"Pokrnic, Mr. Tome",24.0,0,0,315092,8.6625,,S,,,,0
53,3,0,2,"Aronsson, Mr. Ernst Axel Algot",24.0,0,0,349911,7.7750,,S,,,"Sweden Joliet, IL",0
1092,2,1,0,"Shelley, Mrs. William (Imanita Parrish Hall)",25.0,0,1,230433,26.0000,,S,12,,"Deer Lodge, MT",1
236,3,0,2,"Chronopoulos, Mr. Apostolos",26.0,1,0,2680,14.4542,,C,,,Greece,0
1274,1,0,0,"Widener, Mr. Harry Elkins",27.0,0,2,113503,211.5000,C82,C,,,"Elkins Park, PA",0
725,3,0,2,"Ling, Mr. Lee",28.0,0,0,1601,56.4958,,S,,,,0
1090,3,1,2,"Sheerlinck, Mr. Jan Baptist",29.0,0,0,345779,9.5000,,S,11,,,0
492,2,0,0,"Hale, Mr. Reginald",30.0,0,0,250653,13.0000,,S,,75,"Auburn, NY",0
760,3,0,2,"Mangan, Miss. Mary",30.5,0,0,364850,7.7500,,Q,,61,,1
315,2,0,2,"de Brito, Mr. Jose Joaquim",32.0,0,0,244360,13.0000,,S,,,"Portugal / Sau Paulo, Brazil",0
1144,3,0,2,"Stankovic, Mr. Ivan",33.0,0,0,349239,8.6625,,C,,,,0
703,3,0,2,"Lemberopolous, Mr. Peter L",34.5,0,0,2683,6.4375,,C,,196,,0
554,2,0,1,"Hocking, Mr. Samuel James Metcalfe",36.0,0,0,242963,13.0000,,S,,,"Devonport, England",0
678,3,0,2,"Laitinen, Miss. Kristina Sofia",37.0,0,0,4135,9.5875,,S,,,,1
41,3,0,2,"Andersson, Mrs. Anders Johan (Alfrida Konstant...",39.0,1,5,347082,31.2750,,S,,,"Sweden Winnipeg, MN",1
1217,3,0,1,"van Billiard, Mr. Austin Blyler",40.5,0,2,A/5. 851,14.5000,,S,,255,,0
338,3,0,2,"Dimic, Mr. Jovan",42.0,0,0,315088,8.6625,,S,,,,0
144,1,1,0,"Bowen, Miss. Grace Scott",45.0,0,0,PC 17608,262.3750,,C,4,,"Cooperstown, NY",1
1226,3,0,2,"Vander Cruyssen, Mr. Victor",47.0,0,0,345765,9.0000,,S,,,,0
584,1,0,0,"Isham, Miss. Ann Elizabeth",50.0,0,0,PC 17595,28.7125,C49,C,,,"Paris, France New York, NY",1
1266,1,0,0,"White, Mr. Percival Wayland",54.0,0,1,35281,77.2875,D26,S,,,"Brunswick, ME",0
741,1,1,2,"Lurette, Miss. Elise",58.0,0,0,PC 17569,146.5208,B80,C,,,,1
284,1,1,0,"Crosby, Mrs. Edward Gifford (Catherine Elizabe...",64.0,1,1,112901,26.5500,B26,S,7,,"Milwaukee, WI",1
243,1,0,0,"Clifford, Mr. George Quincy",NaN,0,0,110465,52.0000,A14,S,,,"Stoughton, MA",0
456,1,1,2,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",NaN,1,0,17453,89.1042,C92,C,5,,"Paris, France / New York, NY",1
645,3,1,2,"Kelly, Miss. Mary",NaN,0,0,14312,7.7500,,Q,D,,,1
744,3,0,1,"MacKay, Mr. George William",NaN,0,0,C.A. 42795,7.5500,,S,,,,0
824,3,0,0,"Moore, Mr. Leonard Charles",NaN,0,0,A4. 54510,8.0500,,S,,,,0
896,3,1,2,"O'Leary, Miss. Hanora ""Norah""",NaN,0,0,330919,7.8292,,Q,13,,,1
1034,3,1,1,"Roth, Miss. Sarah A",NaN,0,0,342712,8.0500,,S,C,,,1
1116,3,0,2,"Slabenoff, Mr. Petco",NaN,0,0,349214,7.8958,,S,,,,0
1282,3,0,1,"Willey, Mr. Edward",NaN,0,0,S.O./P.P. 751,7.5500,,S,,,,0

In [29]:
from pyspark.sql import SparkSession


spark = SparkSession.builder.getOrCreate()


df = spark.read.csv("/content/Titanic.csv", header=True, inferSchema=True)

df = df.withColumn("age", df["age"].cast(IntegerType()))


df.createOrReplaceTempView("titanic")


children_count = spark.sql("SELECT COUNT(name) FROM titanic WHERE age < 18")


children_count.show()

+-----------+
|count(name)|
+-----------+
|        154|
+-----------+

In [30]:
sw = spark.sql("SELECT name FROM titanic WHERE Gender == 1 AND pclass == 3 AND survived == 1")

sw.show()

+--------------------+
|                name|
+--------------------+
|Abbott, Mrs. Stan...|
|Abelseth, Miss. K...|
|Abrahim, Mrs. Jos...|
|Aks, Mrs. Sam (Le...|
|Andersen-Jensen, ...|
|Andersson, Miss. ...|
|Asplund, Miss. Li...|
|Asplund, Mrs. Car...|
|"Assaf Khalil, Mr...|
|Ayoub, Miss. Banoura|
|Backstrom, Mrs. K...|
|Baclini, Miss. Eu...|
|Baclini, Miss. He...|
|Baclini, Miss. Ma...|
|Baclini, Mrs. Sol...|
|Badman, Miss. Emi...|
|Bradley, Miss. Br...|
|"Carr, Miss. Hele...|
|Connolly, Miss. Kate|
|"Coutts, Mrs. Wil...|
+--------------------+

In [31]:
americans_spent = spark.sql("SELECT SUM(fare) FROM titanic WHERE Residence == 0")

americans_spent.show()

+------------------+
|         sum(fare)|
+------------------+
|16680.499999999985|
+------------------+

In [32]:
desc_order = spark.sql("SELECT * FROM titanic ORDER BY age DESC")

desc_order.show()

+------+--------+---------+--------------------+---+-----+-----+----------+--------+-----------+--------+----+----+--------------------+------+
|pclass|survived|Residence|                name|age|sibsp|parch|    ticket|    fare|      cabin|embarked|boat|body|           home.dest|Gender|
+------+--------+---------+--------------------+---+-----+-----+----------+--------+-----------+--------+----+----+--------------------+------+
|     1|       1|        1|Barkworth, Mr. Al...| 80|    0|    0|     27042|      30|        A23|       S|   B|    |       Hessle, Yorks|     0|
|     1|       1|        1|Cavendish, Mrs. T...| 76|    1|    0|     19877|   78.85|        C46|       S|   6|    |Little Onn Hall, ...|     1|
|     3|       0|        2| Svensson, Mr. Johan| 74|    0|    0|    347060|   7.775|           |       S|    |    |                    |     0|
|     1|       0|        2|Artagaveytia, Mr....| 71|    0|    0|  PC 17609| 49.5042|           |       C|    |  22| Montevideo, Uruguay|     0|
|     1|       0|        0|Goldschmidt, Mr. ...| 71|    0|    0|  PC 17754| 34.6542|         A5|       C|    |    |        New York, NY|     0|
|     1|       0|        0|Crosby, Capt. Edw...| 70|    1|    1| WE/P 5735|      71|        B22|       S|    | 269|       Milwaukee, WI|     0|
|     3|       0|        2|Connors, Mr. Patrick| 70|    0|    0|    370369|    7.75|           |       Q|    | 171|                    |     0|
|     2|       0|        2|Mitchell, Mr. Hen...| 70|    0|    0|C.A. 24580|    10.5|           |       S|    |    |Guernsey / Montcl...|     0|
|     1|       0|        0|  Straus, Mr. Isidor| 67|    1|    0|  PC 17483|221.7792|    C55 C57|       S|    |  96|        New York, NY|     0|
|     2|       0|        2|Wheadon, Mr. Edwa...| 66|    0|    0|C.A. 24579|    10.5|           |       S|    |    |Guernsey, England...|     0|
|     3|       0|        2|    Duane, Mr. Frank| 65|    0|    0|    336439|    7.75|           |       Q|    |    |                    |     0|
|     1|       0|        0|Millet, Mr. Franc...| 65|    0|    0|     13509|   26.55|        E38|       S|    | 249|East Bridgewater, MA|     0|
|     1|       0|        0|Ostby, Mr. Engelh...| 65|    0|    1|    113509| 61.9792|        B30|       C|    | 234|      Providence, RI|     0|
|     1|       1|        0|Compton, Mrs. Ale...| 64|    0|    2|  PC 17756| 83.1583|        E45|       C|  14|    |        Lakewood, NJ|     1|
|     1|       0|        2|   Fortune, Mr. Mark| 64|    1|    4|     19950|     263|C23 C25 C27|       S|    |    |        Winnipeg, MB|     0|
|     1|       1|        0|Crosby, Mrs. Edwa...| 64|    1|    1|    112901|   26.55|        B26|       S|   7|    |       Milwaukee, WI|     1|
|     1|       0|        0|Warren, Mr. Frank...| 64|    1|    0|    110813|   75.25|        D37|       C|    |    |        Portland, OR|     0|
|     1|       0|        1|Nicholson, Mr. Ar...| 64|    0|    0|       693|      26|           |       S|    | 263|Isle of Wight, En...|     0|
|     2|       0|        1|Howard, Mr. Benjamin| 63|    1|    0|     24065|      26|           |       S|    |    |    Swindon, England|     0|
|     1|       1|        0|Andrews, Miss. Ko...| 63|    1|    0|     13502| 77.9583|         D7|       S|  10|    |          Hudson, NY|     1|
+------+--------+---------+--------------------+---+-----+-----+----------+--------+-----------+--------+----+----+--------------------+------+