In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *


spark = SparkSession.builder.getOrCreate()


df = spark.read.csv("./datasets/Titanic.csv", header=True, inferSchema=True)

df = df.withColumn("age", df["age"].cast(IntegerType()))
df = df.withColumn("fare", df["fare"].cast(FloatType()))


df.createOrReplaceTempView("titanic")


children_count = spark.sql("SELECT COUNT(name) FROM titanic WHERE age < 18")


children_count.show()

+-----------+
|count(name)|
+-----------+
|        154|
+-----------+

In [37]:
fare_and_ages = spark.sql("SELECT fare, COLLECT_LIST(DISTINCT(age)) as ages "
                          "from titanic "
                          "GROUP BY fare "
                          "ORDER BY fare ASC ")
fare_and_ages.show()

+------+--------------------+
|  fare|                ages|
+------+--------------------+
|  NULL|                [60]|
|   0.0|[39, 38, 19, 36, ...|
|3.1708|                 [9]|
|4.0125|                [20]|
|   5.0|                [33]|
|6.2375|                [61]|
|6.4375|                [34]|
|  6.45|                [43]|
|6.4958|        [18, 21, 34]|
|  6.75|            [19, 18]|
|6.8583|                  []|
|  6.95|                [30]|
| 6.975|            [27, 45]|
|   7.0|                [47]|
|7.0458|                [29]|
|  7.05|[25, 38, 24, 23, ...|
|7.0542|            [51, 17]|
| 7.125|    [17, 22, 35, 41]|
|7.1417|                [24]|
| 7.225|[26, 25, 30, 15, ...|
+------+--------------------+
only showing top 20 rows

In [27]:
max_ages = spark.sql("""
    SELECT MAX(size(ages)) as max_len 
    FROM (SELECT COLLECT_LIST(age) as ages FROM titanic GROUP BY fare)
""").collect()[0][0]

max_ages

58

In [36]:
columns = ', '.join([f"ages[{i}] as age_{i+1}" for i in range(max_ages)])

fare_and_ages = spark.sql(f"""
    SELECT fare, {columns}
    FROM (
        SELECT fare, COLLECT_LIST(DISTINCT(age)) as ages 
        FROM titanic 
        GROUP BY fare
        ORDER BY fare ASC
    )
""")
fare_and_ages.show(truncate=False)

+------+-----+-----+-----+-----+-----+-----+-----+-----+-----+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+
|fare  |age_1|age_2|age_3|age_4|age_5|age_6|age_7|age_8|age_9|age_10|age_11|age_12|age_13|age_14|age_15|age_16|age_17|age_18|age_19|age_20|age_21|age_22|age_23|age_24|age_25|age_26|age_27|age_28|age_29|age_30|age_31|age_32|age_33|age_34|age_35|age_36|age_37|age_38|age_39|age_40|age_41|age_42|age_43|age_44|age_45|age_46|age_47|age_48|age_49|age_50|age_51|age_52|age_53|age_54|age_55|age_56|age_57|age_58|
+------+-----+-----+-----+-----+-----+-----+-----+-----+-----+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+
|NULL  |60   |NULL |NULL |NULL |NULL |NULL |NULL |NULL |NULL |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |
|0.0   |39   |38   |19   |36   |49   |25   |40   |NULL |NULL |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |
|3.1708|9    |NULL |NULL |NULL |NULL |NULL |NULL |NULL |NULL |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |
|4.0125|20   |NULL |NULL |NULL |NULL |NULL |NULL |NULL |NULL |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |
|5.0   |33   |NULL |NULL |NULL |NULL |NULL |NULL |NULL |NULL |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |
|6.2375|61   |NULL |NULL |NULL |NULL |NULL |NULL |NULL |NULL |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |
|6.4375|34   |NULL |NULL |NULL |NULL |NULL |NULL |NULL |NULL |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |
|6.45  |43   |NULL |NULL |NULL |NULL |NULL |NULL |NULL |NULL |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |
|6.4958|18   |21   |34   |NULL |NULL |NULL |NULL |NULL |NULL |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |
|6.75  |19   |18   |NULL |NULL |NULL |NULL |NULL |NULL |NULL |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |
|6.8583|NULL |NULL |NULL |NULL |NULL |NULL |NULL |NULL |NULL |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |
|6.95  |30   |NULL |NULL |NULL |NULL |NULL |NULL |NULL |NULL |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |
|6.975 |27   |45   |NULL |NULL |NULL |NULL |NULL |NULL |NULL |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |
|7.0   |47   |NULL |NULL |NULL |NULL |NULL |NULL |NULL |NULL |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |
|7.0458|29   |NULL |NULL |NULL |NULL |NULL |NULL |NULL |NULL |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |
|7.05  |25   |38   |24   |23   |20   |35   |NULL |NULL |NULL |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |
|7.0542|51   |17   |NULL |NULL |NULL |NULL |NULL |NULL |NULL |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |
|7.125 |17   |22   |35   |41   |NULL |NULL |NULL |NULL |NULL |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |
|7.1417|24   |NULL |NULL |NULL |NULL |NULL |NULL |NULL |NULL |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |
|7.225 |26   |25   |30   |15   |45   |27   |21   |20   |40   |22    |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |NULL  |
+------+-----+-----+-----+-----+-----+-----+-----+-----+-----+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+
only showing top 20 rows

In [31]:
survival_status = spark.sql(f'''
    SELECT survived, Residence, AVG(age) 
    FROM titanic
    GROUP BY survived, Residence
    ORDER BY survived, Residence
''')

survival_status.show(truncate=False)

+--------+---------+------------------+
|survived|Residence|avg(age)          |
+--------+---------+------------------+
|0       |0        |40.77319587628866 |
|0       |1        |30.957055214723926|
|0       |2        |27.54874651810585 |
|1       |0        |35.044444444444444|
|1       |1        |27.305882352941175|
|1       |2        |25.545893719806763|
+--------+---------+------------------+

In [35]:
age_diff = spark.sql("""
    SELECT t.*, 
           (max_age_per_class.max_age - t.age) AS age_difference
    FROM titanic t
    JOIN (
        SELECT pclass, MAX(age) as max_age
        FROM titanic
        GROUP BY pclass
    ) max_age_per_class
    ON t.pclass = max_age_per_class.pclass
""")

age_diff.show()

age_diff.write.csv("Titanic_Age_Difference.csv", header=True)

+------+--------+---------+--------------------+---+-----+-----+------------------+-------+-----+--------+----+----+--------------------+------+--------------+
|pclass|survived|Residence|                name|age|sibsp|parch|            ticket|   fare|cabin|embarked|boat|body|           home.dest|Gender|age_difference|
+------+--------+---------+--------------------+---+-----+-----+------------------+-------+-----+--------+----+----+--------------------+------+--------------+
|     3|       0|        0| Abbing, Mr. Anthony| 42|    0|    0|         C.A. 5547|   7.55|     |       S|    |    |                    |     0|            32|
|     3|       0|        0|Abbott, Master. E...| 13|    0|    2|         C.A. 2673|  20.25|     |       S|    |    | East Providence, RI|     0|            61|
|     3|       0|        0|Abbott, Mr. Rossm...| 16|    1|    1|         C.A. 2673|  20.25|     |       S|    | 190| East Providence, RI|     0|            58|
|     3|       1|        0|Abbott, Mrs. Stan...| 35|    1|    1|         C.A. 2673|  20.25|     |       S|   A|    | East Providence, RI|     1|            39|
|     3|       1|        2|Abelseth, Miss. K...| 16|    0|    0|            348125|   7.65|     |       S|  16|    |Norway Los Angele...|     1|            58|
|     3|       1|        0|Abelseth, Mr. Ola...| 25|    0|    0|            348122|   7.65|F G63|       S|   A|    |  Perkins County, SD|     0|            49|
|     2|       0|        2| Abelson, Mr. Samuel| 30|    1|    0|         P/PP 3381|   24.0|     |       C|    |    | Russia New York, NY|     0|            40|
|     2|       1|        2|Abelson, Mrs. Sam...| 28|    1|    0|         P/PP 3381|   24.0|     |       C|  10|    | Russia New York, NY|     1|            42|
|     3|       1|        2|Abrahamsson, Mr. ...| 20|    0|    0|  SOTON/O2 3101284|  7.925|     |       S|  15|    |Taalintehdas, Fin...|     0|            54|
|     3|       1|        2|Abrahim, Mrs. Jos...| 18|    0|    0|              2657| 7.2292|     |       C|   C|    |      Greensburg, PA|     1|            56|
|     3|       0|        2|Adahl, Mr. Maurit...| 30|    0|    0|            C 7076|   7.25|     |       S|    |  72|Asarum, Sweden Br...|     0|            44|
|     3|       0|        1|     Adams, Mr. John| 26|    0|    0|            341826|   8.05|     |       S|    | 103|Bournemouth, England|     0|            48|
|     3|       0|        2|Ahlin, Mrs. Johan...| 40|    1|    0|              7546|  9.475|     |       S|    |    |   Sweden Akeley, MN|     1|            34|
|     3|       1|        1|Aks, Master. Phil...|  0|    0|    1|            392091|   9.35|     |       S|  11|    |London, England N...|     0|            74|
|     3|       1|        2|Aks, Mrs. Sam (Le...| 18|    0|    1|            392091|   9.35|     |       S|  13|    |London, England N...|     1|            56|
|     3|       1|        2|Albimona, Mr. Nas...| 26|    0|    0|              2699|18.7875|     |       C|  15|    |Syria Fredericksb...|     0|            48|
|     2|       0|        0|Aldworth, Mr. Cha...| 30|    0|    0|            248744|   13.0|     |       S|    |    |  Bryn Mawr, PA, USA|     0|            40|
|     3|       0|        1|Alexander, Mr. Wi...| 26|    0|    0|              3474| 7.8875|     |       S|    |    |  England Albion, NY|     0|            48|
|     3|       0|        2|Alhomaki, Mr. Ilm...| 20|    0|    0|  SOTON/O2 3101287|  7.925|     |       S|    |    |Salo, Finland Ast...|     0|            54|
|     3|       0|        2|      Ali, Mr. Ahmed| 24|    0|    0|SOTON/O.Q. 3101311|   7.05|     |       S|    |    |                    |     0|            50|
+------+--------+---------+--------------------+---+-----+-----+------------------+-------+-----+--------+----+----+--------------------+------+--------------+
only showing top 20 rows